.p-description{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: center;

}
p{
    font-family: Inter;
font-size: 65px;
font-weight: 700;
line-height: 79px;
letter-spacing: 0px;
text-align: center;

}
.header{
    background-image: url(../donate-today/images/donation1.jpg);
    background-repeat: none;
}