.p-description{
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: center;

}
h1{
    font-family: Inter;
font-size: 65px;
font-weight: 700;
line-height: 79px;
letter-spacing: 0px;
text-align: center;

}
.banner{
    
    position: absolute;
width: 826px;
height: 320px;
left: 307px;
top: 40px;
padding: 307px 100px;

    
}
*{
    margin: 0%;
    
}
.btn-primary{

padding: 16px 12px;
gap: 8px;
align-items: center;

position: absolute;
width: 160px;
height: 56px;
background-color: #ff5959;
color: #ffffff;
border: none;
}
.btn{
    margin: 50px 290px;
}